
body {
  background-color: white;
}

.centered {
  height: 40%;
  width: 20%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: white;
  border: 1px solid gray;
  border-radius: 25px;
}

.centered .fixed {
  width: 60%;
  height: 60%;
  min-width: 200px;
  max-width: 200px;
  padding: 40px;
}

.title {
  text-align: center;
  padding-top: 10px;
  font-size: 100px;
}

.login {
  text-align: center;
  padding-top: 5%;
  font-size: xx-large;
  color: cadetblue;
}

.credentials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success-message {
  text-align: center;
  padding-top: 20px;
}

.links {
  display: flex;
  justify-content: space-around;
  height: 40%;
  align-items: flex-end;
}

.button-solid {
  border: none;
  background-color: white;
}

.button-solid:focus {
  border: none;
  outline: none;
}

.back-to-login {
  display: flex;
  justify-content: center;
  height: 35%;
  align-items: flex-end;
}










